[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts-v4.9.0"]
	path = lib/openzeppelin-contracts-v4.9.0
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/openzeppelin-contracts-upgradeable-v4.9.0"]
	path = lib/openzeppelin-contracts-upgradeable-v4.9.0
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "lib/zeus-templates"]
	path = lib/zeus-templates
	url = https://github.com/Layr-Labs/zeus-templates
