name: Run Parallel

on: [push, pull_request]

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Get list of .t.sol files in src/test
      run: |
        FILES=$(find src/test -type f -name '*.t.sol' | sed 's#src/test/##' | jq -R -s -c 'split("\n")[:-1]')
        echo "::set-output name=matrix::$FILES"
      id: set-matrix

  run-tests:
    needs: prepare
    runs-on: ubuntu-latest
    strategy:
      matrix:
        file: ${{fromJson(needs.prepare.outputs.matrix)}}
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    
    - name: Install Foundry
      uses: foundry-rs/foundry-toolchain@v1
      with:
        version: nightly

    - name: Install forge dependencies
      run: forge install

    - name: Run forge test for the file
      run: forge test --match-path src/test/${{ matrix.file }} --no-match-contract FFI
      env:
        RPC_MAINNET: ${{ secrets.RPC_MAINNET }}
        CHAIN_ID: ${{ secrets.CHAIN_ID }}
