name: Automatic Testing

on:
  push:
  pull_request:
    types: [opened, reopened]

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  check:
    name: Foundry Project
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install forge dependencies
        run: forge install

      - name: Run build and check contract sizes
        run: forge build --sizes

      - name: Run tests
        run: forge test -vvv
        env:
          RPC_MAINNET: ${{ secrets.RPC_MAINNET }}
          CHAIN_ID: ${{ secrets.CHAIN_ID }}

      - name: Run snapshot
        run: forge snapshot
        env:
          RPC_MAINNET: ${{ secrets.RPC_MAINNET }}
          CHAIN_ID: ${{ secrets.CHAIN_ID }}
